body{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    height: 10em;
    padding: 5em;
    font-size: 2em;
    background-image: url(../imgs/fondoheader.jpg);
    background-size: 130%;
    background-position: center;
    background-color: black;
    color: white;
}

.header h1{
    margin: 0px;
    font-weight: 400;
}

.products{
    width: 80%;
    margin: auto;
    text-align: center;
}

.products td{
    width:50%;
    padding:2em;
    font-size:2em;
}

.products img{
    width:100%;
    border: solid 1px #ffd;
}

.footer{
    background-color: rgb(141, 124, 29);
    font-size: 1.2em;
    margin:auto;
    text-align: center;
}